*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --main-color: #005fd5;
  --danger-color: #DC3545;
  --success-color: #28A745;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  height: 100%;
}

